@model Aula_P1.Models.PesquisaCursoViewModel

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1></h1>

<h1>(<a asp-action="Create">adicionar</a>)</h1>

@*<form method="post">
    <label asp-for="TextoAPesquisar"></label>
    <input asp-for="TextoAPesquisar" />
    <select name="CategoriaId" asp-items="ViewBag.ListaDeCategorias"></select>
    <input type="submit" value="pesquisar" />
</form>
<p>
    <a asp-action="Index">Todos</a> |
    <a asp-action="Index" asp-route-disponivel="true">Activos</a> |
    <a asp-action="Index" asp-route-disponivel="false">Inactivos</a>
</p>*@

@if(Model.NumResultados == 0){
    <p class="alert alert-warning">
        Não foi possível encontrar dados com a pesquisa efetuada
    </p>
}else{

<p>Existem @Model.NumResultados cursos</p>
<div class="row row-cols-1 row-cols-md-3 text-center">
    @foreach (var item in Model.ListaDeCursos)
    {
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">
                        @Html.Raw(item.Nome.ToLower().Replace(Model.TextoAPesquisar,"<span class=\"bg-warning\">" + Model.TextoAPesquisar + "</span>"))
                    </h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        <small class="text-muted fw-light"></small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>
                            Requisitos:
                            @Html.DisplayFor(modelItem => @item.Rquisitos)
                        </li>
                        <li>
                            Idade Minima:
                            @Html.DisplayFor(modelItem => @item.IdadeMinima)
                        </li>
                        <li>
                            Descricao Resumida:
                            @Html.DisplayFor(modelItem => @item.DescricaoResumida)
                        </li>
                    </ul>
                    <a asp-controller="Cursos" asp-action="Details" asp-route-id="@item.Id" type="button" class="w-100 btn btn-lg btn-outline-primary">
                        Saber
                        mais
                    </a>
                </div>
            </div>
        </div>
    }

   
</div>
}
