@model Aula_P1.Models.PesquisaCursoViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Lista de cursos (<a asp-action="Create">adicionar</a>)</h1>
<form method="post">
    <label asp-for="TextoAPesquisar"></label>
    <input asp-for="TextoAPesquisar" />
    <select name="CategoriaId" asp-items="ViewBag.ListaDeCategorias"></select>
    <input type="submit" value="pesquisar" />
</form>
<p>
    <a asp-action="Index">Todos</a> |
    <a asp-action="Index" asp-route-disponivel="true">Activos</a> |
    <a asp-action="Index" asp-route-disponivel="false">Inactivos</a>
</p>

<p>Existem @Model.NumResultados cursos</p>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeCursos.FirstOrDefault().Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeCursos.FirstOrDefault().Disponivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeCursos.FirstOrDefault().Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeCursos.FirstOrDefault().DescricaoResumida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeCursos.FirstOrDefault().Rquisitos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeCursos.FirstOrDefault().IdadeMinima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeCursos.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeCursos.FirstOrDefault().CategoriaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeCursos.FirstOrDefault().categoria.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaDeCursos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disponivel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescricaoResumida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rquisitos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdadeMinima)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoria.Nome)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</>