@model IEnumerable<PWEB_AulasP_2223.ViewModels.UserRolesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>User Roles</h1>
<table class="table table-striped table-hover table-bordered mt-4">
    <thead>
        <tr>
            <th>Username</th>
            <th>Id</th>
            <th>Primeiro Nome</th>
            <th>Ultimo Nome</th>
            <th>Roles</th>
            <th>Avatar</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.UserId
                </td>
                <td>
                    @item.PrimeiroNome
                </td>
                <td>
                    @item.UltimoNome
                </td>
                <td>
                    @string.Join(" , ", item.Roles.ToList())
                </td>
                <td>
                    @if (@item.Avatar == null)
                    {
                        <img id="MyAvatar" src="~/img/user.png" width="350rem" height="350rem" />
                    }
                    else
                    {
                        <img id="MyAvatar" src="data:image/*;base64,@(Convert.ToBase64String(@item.Avatar))" width="350rem" height="350rem" />
                    }
                </td>
                <td>
                    <a class="btn-primary btn" asp-action="Details" asp-controller="UserRolesManager" asp-route-userId="@item.UserId">Edit Roles</a>
                </td>
            </tr>
        }

    </tbody>
</table>